@font-face {
    font-family: shabnam;
    src: url("../fonts/shab/Shabnam.woff2") format('woff2'),
    url("../fonts/shab/Shabnam-Bold.woff") format('woff'),
    url("../fonts/shab/Shabnam-Bold.ttf") format('ttf'),
    url("../fonts/shab/Shabnam.eot") format('eot');
}


header{
    display: flex;
    width: 1440px;
    height: 222px;
    flex-shrink: 0;
}
section{
    display: flex;
    width: 1440px;
    height: max-content;
    flex-shrink: 0;
}
body{
    overflow-x: hidden;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    background-color: ghostwhite;
}
.sec1{
    display: flex;
    width: 1440px;
    height: 222px;
    flex-shrink: 0;
    position: relative;
}
.head{
    display: flex;
    width: 1440px;
    height: 222px;
    background: var(--basic-colors-white, #FFF);
    box-shadow: 0px 24px 40px 0px rgba(121, 127, 136, 0.05);
    flex-shrink: 0;
    position: relative;
}
.shopbag{
    position: absolute;
    display: flex;
    width: 67px;
    height: 65px;
    top: 39px;
    left: 60px;
    gap: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.shopbag:hover{
    background: #dcdce4;
}
.shopbagimg{
    display: flex;
    width: 27px;
    height: 27px;
    flex-shrink: 0;
}

.numback{
    display: flex;
    position: absolute;
    width: fixed(27px);
    height: fixed(27px);
    top: 84px;
    left: 106px;
    border: 2px;
    flex-shrink: 0;
    fill: var(--primary-color-primary-color, #00ADB5);
    stroke-width: 2px;
    stroke: var(--basic-colors-white, #FFF);
}
.bagnum{
    position: absolute;
    width: 11px;
    height: 16px;
    top: 92px;
    left: 114px;
    color: #FFF;
    text-align: center;
    font-family: PeydaWeb;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.logbtn{
    position: absolute;
    display: flex;
    top: 39px;
    left: 142px;
    width: 176px;
    height: 65px;
    padding: 17px 31px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
    outline: none;
    border: none;
}
.logbtn:hover{
    background: #dcdce4;
    cursor: pointer;
}
.usercir{
    width: 24px;
    height: 24px;
}
.btntext{
    width: 99px;
    height: 25px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btnaskprint{
    position: absolute;
    top: 39px;
    left: 330px;
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    outline: none;
    border: none;
    background: transparent;
}
.btnaskprint:hover{
    background: #dcdce4;
    opacity: .4;
    cursor: pointer;
}
.btnv{
    position: absolute;
    display: flex;
    top: 39px;
    left: 330px;
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    background: var(--primary-color-primary-color, #00ADB5);
}
.khatkhat{
    position: absolute;
    flex-shrink: 0;
    width: 200px;
    height: 65px;
    top: 39px;
    left: 330px;
    border: 1px;
    opacity: 0.1px;
    stroke-width: 1px;
    stroke: var(--bg-color-bg-color, #F5F8FC);

}
.btnintro{
    position: absolute;
    width: 158px;
    height: 25px;
    top: 20.5px;
    left: 19px;
    gap: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.acoprintaks{
    width: 24px;
    height: 24px;
}
.printaksbtntext{
    width: 126px;
    height: 25px;
    color: #FFF;
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.searchbox{
    position: absolute;
    display: flex;
    top: 39px;
    left: 631px;
    width: 430px;
    height: 65px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.searchbar{
    display: flex;
    align-items: flex-end;
    gap: 12px;
    width: 262px;
    height: 25px;
}
.searchtext{
    width: 226px;
    height: 25px;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: var(--bg-color-bg-color, #F5F8FC);
    outline: none;
    border: none;
}
.searchico{
    width: 24px;
    height: 24px;
}
.onvansite{
    position: absolute;
    color: #000;
    font-family: Peyda;
    font-size: 26px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    top: 39px;
    left: 1190px;
}
.example{
    position: absolute;
    color: var(--text-color-secondary-text-color, #626E94);
    font-family: Peyda;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    top: 82px;
    left: 1103px;

}
.icositetop{
    position: absolute;
    width: 65.005px;
    height: 65px;
    flex-shrink: 0;
    top: 39px;
    left: 1315px;
}
.lineDivision{
    position: absolute;
    top: 139px;
    left: 60.5px;
    border: 0.6px solid #DEE2EE;
    width: 1319.5px;
    height: 0px;
    flex-shrink: 0;
}
.lineXtop{
    position: absolute;
    top: 139px;
    left: 1174px;
    border: 0.6px solid #DEE2EE;
    width: 0px;
    height: 82px;
    flex-shrink: 0;
}
.navbar{
    display: flex;
    width: 765px;
    height: 25px;
    flex-shrink: 0;
    top: 168px;
    left: 384px;
}
.dastebandi{
    position: absolute;
    width: 180px;
    height: 25px;
    top: 168px;
    left: 1200px;
    gap: 6px;
    display: inline-flex;
    align-items: center;
}
.icodastebandi{
    position: relative;
    top: -3px;
    width: 24px;
    height: 24px;
}
.texticodastebandi{
    width: 130px;
    height: 25px;
    color: #000;
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.hedie{
    position: absolute;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    width: 118px;
    height: 25px;
    top: 168px;
    left: 1031px;
}
.texthedie{
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.icohedie{
    position: relative;
    top: -3px;
    width: 24px;
    height: 24px;
}
.panl{
    position: absolute;
    display: inline-flex;
    align-items: flex-start;
    gap: 8px;
    width: 163px;
    height: 25px;
    top: 168px;
    left: 818px;
    justify-content: center;
}
.textpanl{
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: max-content;
    height: 25px;
}
.icopanl{
    width: 24px;
    height: 24px;
}
.item1{
    position: absolute;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 60px;
    height: 25px;
    top: 168px;
    left: 708px;
}
.item2{
    position: absolute;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 60px;
    height: 25px;
    top: 168px;
    left: 608px;
}
.item3{
    position: absolute;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 60px;
    height: 25px;
    top: 168px;
    left: 487px;
}
.item4{
    position: absolute;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    width: 60px;
    height: 25px;
    top: 168px;
    left: 384px;
}
.phoneinfo{
    position: absolute;
    display: inline-flex;
    width: 153px;
    height: 51px;
    top: 155px;
    left: 70px;
    gap: 12px;
    align-items: center;
}
.phoneinfo:hover{
    cursor: pointer;
}
.phoneico{
    position: absolute;
    width: 41px;
    height: 41px;
    flex-shrink: 0;
    top: 5px;
    left: 112px;
}
.phonetext{
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: center;
    font-family: Peyda;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 66px;
    height: 20px;
}
.phonenum{
    width: 100px;
    height: 25px;
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: center;
    font-family: PeydaWeb;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.phoneTUN{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100px;
    height: 51px;
    gap: 6px;

}

/* END HEAD */

/* secetion 1 start */
.pics{
    width: 328.372px;
    height: 535.526px;
    flex-shrink: 0;
    top: 310.47px;
    left: 1069px;
}
.pic1{
    position: absolute;
    width: 105.29px;
    height: 112.26px;
    top: 310.47px;
    left: 1296.21px;
    transform: rotate(16.1deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.pic2{
    position: absolute;
    top: 384.2px;
    left: 1199.82px;
    width: 131.386px;
    height: 141.339px;
    transform: rotate(-4.486deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.pic3{
    position: absolute;
    top: 501.83px;
    left: 1131px;
    width: 131.336px;
    height: 148.231px;
    transform: rotate(-8.336deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 40px 1px rgba(126, 138, 171, 0.36);

}
.pic4{
    position: absolute;
    top: 650.79px;
    left: 1146.67px;
    width: 133.907px;
    height: 138.953px;
    transform: rotate(-29.091deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.pic5{
    position: absolute;
    top: 708.48px;
    left: 1230.73px;
    width: 131.88px;
    height: 140.878px;
    transform: rotate(-12.642deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}
.pic1:hover ,.pic2:hover,.pic3:hover,.pic4:hover,.pic5:hover{
    position: absolute;
    width: 189.336px;
    height: 201.231px;
    transform: rotate(-16.336deg);
    flex-shrink: 0;
    border: 9px solid var(--basic-colors-white, #FFF);
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 0px 40px 1px rgba(126, 138, 171, 0.36);
    z-index: 5;
    transition: .7s;
}
.picshadow{
    position: absolute;
    width: 191px;
    height: 4px;
    flex-shrink: 0;
    top: 888px;
    left: 1179px;
    fill: #D9D9D9;
    filter: blur(7px);
}



.centerbox{
    position: absolute;
    top: 287px;
    left: 449px;
    width: 913px;
    height: 605px;
    flex-shrink: 0;
    border: 1px solid var(--basic-colors-white, #FFF);
    background: var(--bg-color-bg-color, #F5F8FC);
}
.centerboxpic{
    position: absolute;
    top: 287px;
    left: 449px;
    width: 589px;
    height: 605px;
    flex-shrink: 0;
    background: url('../image/centerboxpic.png'), lightgray 50% / cover no-repeat;
}
.uni1{
    position: absolute;
    width: 128px;
    height: 135px;
    flex-shrink: 0;
    fill: var(--text-color-disabled-text-color, #BFC4D5);
    top: 316px;
    left: 385px;
    z-index: -1;
}
.uni2{
    position: absolute;
    top: 804px;
    left: 60px;
    width: 91px;
    height: 88px;
    flex-shrink: 0;
    fill: var(--retro-tone-retro-1, #F5BD33);
    z-index: -1;
}

.boxtextcenter{
    width: 339px;
    height: 317px;
    top: 436px;
    left: 73px;
    border: 1px;
    flex-shrink: 0;
}
.headtextcenter{
    position: absolute;
    width: 260px;
    height: 110px;
    top: 436px;
    left: 152px;
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 39px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.ptextcenter{
    position: absolute;
    width: 339px;
    height: 96px;
    top: 563px;
    left: 73px;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 200% */
}


.printaksbtntext2{
    width: 126px;
    height: 25px;
    color: #FFF;
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.btnaskprint2{
    position: absolute;
    top: 688px;
    left: 212px;
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    outline: none;
    border: none;
    background: transparent;
}
.btnaskprint2:hover{
    background: #dcdce4;
    opacity: .4;
    cursor: pointer;
}
.btnv2{
    position: absolute;
    display: flex;
    top: 688px;
    left: 212px;
    width: 200px;
    height: 65px;
    flex-shrink: 0;
    background: var(--primary-color-primary-color, #00ADB5);
}
.khatkhat2{
    position: absolute;
    flex-shrink: 0;
    width: 200px;
    height: 65px;
    top: 688px;
    left: 212px;
    border: 1px;
    opacity: 0.1px;
    stroke-width: 1px;
    stroke: var(--bg-color-bg-color, #F5F8FC);

}
.btnintro2{
    position: absolute;
    width: 158px;
    height: 25px;
    top: 20.5px;
    left: 19px;
    gap: 8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.servicediv{
    position: absolute;
    display: inline-flex;
    width: 234.75px;
    height: 67px;
    top: 984px;
    left: 603px;
    padding: 0px, 25.75px, 0px, 25px;
    padding: 0px 25.754px 0px 25px;
    justify-content: center;
    align-items: center;
}
.servicetext{
    position: absolute;
    width: 184px;
    height: 67px;
    left: 25px;
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
.nor1{
    position: absolute;
    width: 9px;
    height: 13px;
    top: 968px;
    left: 818px;
    border: 4.57px;
    flex-shrink: 0;
}
.nor2{
    position: absolute;
    width: 14px;
    height: 10px;
    top: 980px;
    left: 825px;
    border: 4.57px;
    flex-shrink: 0;
}
.nor3{
    position: absolute;
    width: 14px;
    height: 4px;
    top: 999px;
    left: 829px;
    border: 4.57px;
    flex-shrink: 0;
}
.nstrok{
    stroke-width: 4.57px;
    stroke: var(--status-colors-warning, #FF9518);
}

/* section 1 end */
/* section 2 start */

.startinfo{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 25px;
    top: 1064px;
    left: 620px;
    gap: 12px;
}
.bland{
    stroke-width: 1.6px;
    stroke: #BFC4D5;
}
.bland1{
    width: 24.5px;
    height: 10px;
}
.bland2{
    width: 24.5px;
    height: 10px;
}
.textinfo{
    display: flex;
    justify-content: space-between;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    width: max-content;
    height: 25px;

}

.underservice{
    width: 1488.13px;
    height: 243px;
    top: 1059px;
    left: -55px;
    flex-shrink: 0;
}  

.vilvil{
    position: absolute;
    width: 131px;
    height: 86px;
    top: 1131px;
    left: -55px;
    flex-shrink: 0;
    fill: var(--primary-color-primary-color, #00ADB5);
}

.gol{
    position: absolute;
    width: 75.38px;
    height: 73.7px;
    top: 1084.69px;
    left: 1350px;
    transform: rotate(-30deg);
    flex-shrink: 0;
}
.cards{
    position: absolute;
    top: 1125px;
    width: 420px;
    height: 177px;
    flex-shrink: 0;
    z-index: 4;
    opacity: 0;
}
.card1{
    top: 1125px;
    left: 60px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.card2{
    position: absolute;
    top: 1125px;
    left: 510px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.card3{
    position: absolute;
    top: 1125px;
    left: 960px;
    background: var(--bg-color-bg-color, #F5F8FC);
}

.cards:hover{
    opacity: 0.3;
    background: var(--bg-color-bg-disabled, #DEE2EE);
}



/*  */
.intocard1{
    position: absolute;
    width: 420px;
    height: 177px;
    top: 1125px;
    left: 60px;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
}

.intocardhead1{
    position: absolute;
    width: max-content;
    height: 25px;
    top: 1152px;
    left: 267px;
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px; /* 125% */
    z-index: 10;
}

.intocardp1{
    position: absolute;
    width: 222px;
    height: 89px;
    top: 1192px;
    left: 121px;
    flex-shrink: 0;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 220% */
    z-index: 3;
}

.intobtnnext1{
    position: absolute;
    display: flex;
    width: 35px;
    height: 153px;
    top: 1130px;
    left: 72px;
    padding: 7px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 5;
    flex-shrink: 0;
    background: var(--bg-color-bg-disabled, #DEE2EE);
}
.intobtnnext1:hover{
    cursor: pointer;
    background: var(--primary-color-primary-color, #00ADB5);
}
.intobtnaroo1{
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.intoaks1{
    position: absolute;
    width: 190px;
    height: 177px;
    top: 1125px;
    left: 290px;
    flex-shrink: 0;
    background: url('../image/intoaks1.png'), lightgray 50% / cover no-repeat;
    z-index: 1;
}
.intocard1saie1,.intocard1saie2,.intocard1saie3{
    position: absolute;
    height: 177px;
    top: 1125px;
    background: linear-gradient(90deg, #F5F8FC 0%, rgba(245, 248, 252, 0.00) 100%);
}
.intocard1saie1{
    z-index: 2;
    left: 290px;
    width: 138px;
}
.intocard1saie2{
    z-index: 2;
    left: 278px;
    width: 138px;
}
.intocard1saie3{
    z-index: 2;
    width: 100px;
    left: 250px;
}
/*  */
.intocard2{
    position: absolute;
    width: 420px;
    height: 177px;
    top: 1125px;
    left: 510px;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
}

.intocardhead2{
    position: absolute;
    width: max-content;
    height: 25px;
    top: 1152px;
    left: 639px;
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px; /* 125% */
    z-index: 10;
}

.intocardp2{
    position: absolute;
    width: 222px;
    height: 89px;
    top: 1192px;
    left: 571px;
    flex-shrink: 0;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 220% */
    z-index: 3;
}

.intobtnnext2{
    position: absolute;
    display: flex;
    width: 35px;
    height: 153px;
    top: 1130px;
    left: 522px;
    padding: 7px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 5;
    flex-shrink: 0;
    background: var(--bg-color-bg-disabled, #DEE2EE);
}
.intobtnnext2:hover{
    cursor: pointer;
    background: var(--primary-color-primary-color, #00ADB5);
}
.intobtnaroo2{
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.intoaks2{
    position: absolute;
    width: 190px;
    height: 177px;
    top: 1125px;
    left: 740px;
    flex-shrink: 0;
    background: url('../image/intocardaks2.png'), lightgray 50% / cover no-repeat;
    z-index: 1;
}

.intocard2saie1,.intocard2saie2,.intocard2saie3{
    position: absolute;
    height: 177px;
    top: 1125px;
    background: linear-gradient(90deg, #F5F8FC 0%, rgba(245, 248, 252, 0.00) 100%);
}
.intocard2saie1{
    z-index: 2;
    left: 740px;
    width: 138px;
}
.intocard2saie2{
    z-index: 2;
    left: 710px;
    width: 138px;
}
.intocard2saie3{
    z-index: 2;
    width: 102px;
    left: 600px;
}
/*  */
.intocard3{
    position: absolute;
    width: 420px;
    height: 177px;
    top: 1125px;
    left: 960px;
    flex-shrink: 0;
    background: var(--bg-color-bg-color, #F5F8FC);
}

.intocardhead3{
    position: absolute;
    width: max-content;
    height: 25px;
    top: 1152px;
    left: 1100px;
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px; /* 125% */
    z-index: 10;
}

.intocardp3{
    position: absolute;
    width: 222px;
    height: 89px;
    top: 1192px;
    left: 1021px;
    flex-shrink: 0;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 220% */
    z-index: 3;
}

.intobtnnext3{
    position: absolute;
    display: flex;
    width: 35px;
    height: 153px;
    top: 1130px;
    left: 972px;
    padding: 7px;
    padding: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    z-index: 5;
    flex-shrink: 0;
    background: var(--bg-color-bg-disabled, #DEE2EE);
}
.intobtnnext3:hover{
    cursor: pointer;
    background: var(--primary-color-primary-color, #00ADB5);
}
.intobtnaroo3{
    display: flex;
    width: 14px;
    height: 14px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.intoaks3{
    position: absolute;
    width: 190px;
    height: 177px;
    top: 1125px;
    left: 1190px;
    flex-shrink: 0;
    background: url('../image/intoaks3.png'), lightgray 50% / cover no-repeat;
    z-index: 1;
}

.intocard3saie1,.intocard3saie2,.intocard3saie3{
    position: absolute;
    height: 177px;
    top: 1125px;
    background: linear-gradient(90deg, #F5F8FC 0%, rgba(245, 248, 252, 0.00) 100%);
}
.intocard3saie1{
    z-index: 2;
    left: 1190px;
    width: 138px;
}
.intocard3saie2{
    z-index: 2;
    left: 1187px;
    width: 138px;
}
.intocard3saie3{
    z-index: 2;
    width: 102px;
    left: 1190px;
}

.headqab{
    position: absolute;
    display: inline-flex;
    align-items: center;
    gap: 9px;
    width: 262px;
    height:55px;
    top: 1391px;
    left: 1118px;
}
.qabaks{
    width: 55px;
    height: 55px;
    background: url('../image/qab.png'), lightgray 50% / cover no-repeat;
}
.textqab{
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: 25px; /* 69.444% */
    width: 198px;
    height: 25px;
}



.btnmore1{
    position: absolute;
    flex-shrink: 0;
    width: 168px;
    height: 60px;
    top: 1389px;
    left: 60px;
    outline: none;
    border: none;
    padding: 0;
}
.btnmorebg1{
    width: 168px;
    height: 60px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.btnmorebg1:hover{
    cursor: pointer;
    background: var(--bg-color-bg-color, #dcdce4);

}
.btnmoretextbox1{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 25px;
    top: 17.5px;
    left: 15.5px;
    gap: 8px;
}
.btnmoretext1{
    width: max-content;
    height: 25px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btnmoreico1{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}



.imageboxs{
    top: 1480px;
    position: absolute;
    width: 315.28px;
    height: 450.85px;
    flex-shrink: 0;
    padding: 0;
}
.imageboxs:hover{
    cursor: pointer;
}
.imageboxsimage{
    position: absolute;
    width: 315.277px;
    height: 322.92px;
    flex-shrink: 0;
}
.imageboxshead{
    top: 336.3px;
    position: absolute;
    width: 67px;
    height: 25px;
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 156.25% */
}
.imageboxsdes{
    position: absolute;
    top: 369.8px;
    width: 167px;
    height: 25px;
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: right;
    font-family: Peyda;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 113.636% */
}
.imageboxscost{
    top: 425.85px;
    position: absolute;
    width: max-content;
    height: 25px;
    color: var(--primary-color-primary-color, #00ADB5);
    text-align: right;
    font-family: Peyda;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px; /* 125% */
}

.ib1{
    left: 60px;
}
.ibi1{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh1{
    left: 248px;
}
.ibd1{
    left: 148px;
}
.ibc1{
    left: 97px;
}

.ib2{
    left: 395px;
}
.ibi2{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh2{
    left: 248px;
}
.ibd2{
    left: 148px;
}
.ibc2{
    left: 97px;
}

.ib3{
    left: 730px;
}
.ibi3{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh3{
    left: 248px;
}
.ibd3{
    left: 148px;
}
.ibc3{
    left: 97px;
}

.ib4{
    left: 1065px;
}
.ibi4{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh4{
    left: 248px;
}
.ibd4{
    left: 148px;
}
.ibc4{
    left: 97px;
}
/* section 2 end */
/* section 3 start */
.sec3head{
    position: absolute;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 19px;
    width: 509px;
    height: 118px;
    top: 2036px;
    left: 258px;
}
.sec3fram{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:274px;
    height:50px;
    gap: 17px;
}
.sec3headlogo{
    width: 50px;
    height: 49.996px;
}
.sec3headtext{
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: right;
    font-family: Peyda;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: max-content;
    height: 34px;

}
.sec3framtext{
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: right;
    font-family: Peyda;
    font-size: 35px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 509px;
    height: 49px;
}


.dayere{
    position: absolute;
    width: 517px;
    height: 517px;
    top: 2051px;
    left: 824px;
    border-radius: 517px;
    background: #00ADB5;
}
.phons{
    position: absolute;
    width: 599.999px;
    height: 548.762px;
    flex-shrink: 0;
    top: 2035px;
    left: 797px;
}

.vectorlove{
    position: absolute;
    width: max-content;
    height: max-content;
    flex-shrink: 0;
    top: 2478.36px;
    left: 827.29px;
    transform: rotate(9deg);
    
}


.download{
    position: absolute;
    display: inline-flex;
    width: 276px;
    height: 67px;
    top: 2509px;
    left: 491px;
    padding: 17px 31px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background: var(--primary-color-primary-color, #00ADB5);
    outline: none;
    border: none;
}
.download:hover{
    background: #5fc1c9;
    cursor: pointer;
}

.farmbtndown{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width:max-content;
    height:max-content;
    gap: 8px;

}

.iconbtndown{
    position: relative;
    top: -5px;
    width: 24px;
    height: 24px;
}

.textbtndown{
    color: #FFF;
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    width: max-content;
    height: 25px;

}

.sec3p{
    position: absolute;
    width: 660px;
    height: 160px;
    top: 2315px;
    left: 107px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: right;
    font-family: Peyda;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
}




.sec3icofram1{
    width: 143px;
    height: 106px;
    top: 2184px;
    left: 640px;
    flex-shrink: 0;
}
.sec3icofram1:hover{
    cursor: pointer;
}
.icodiv1{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 2184px;
    left: 719px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 11.545px 15.925px 11.514px 15.812px;
}
.sec3ico1{
    position: absolute;
    flex-shrink: 0;
    width: 32.26px;
    height: 40.94px;
    top: 11.55px;
    left: 15.81px;
}
.textinfoapp1{
    position: absolute;
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: right;
    font-family: Peyda;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px; /* 300% */
    width: max-content;
    height: 39px;
    top: 2242px;
    left: 698px;
}
.navar1{
    position: absolute;
    width: 127px;
    top: 2290px;
    left: 633px;
    border: 4px solid #7E8AAB;
    opacity: 0.3;
    flex-shrink: 0;
}





.sec3icofram2{
    width: 143px;
    height: 106px;
    top: 2183px;
    left: 434px;
    flex-shrink: 0;
}
.sec3icofram2:hover{
    cursor: pointer;
}
.icodiv2{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 2184px;
    left: 521px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 11.545px 15.925px 11.514px 15.812px;
}
.sec3ico2{
    position: absolute;
    flex-shrink: 0;
    width: 32.26px;
    height: 40.94px;
    top: 11.8px;
    left: 11.29px;
}
.textinfoapp2{
    position: absolute;
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: right;
    font-family: Peyda;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px; /* 300% */
    width: max-content;
    height: 39px;
    top: 2242px;
    left: 477px;
}
.navar2{
    position: absolute;
    width: 127px;
    top: 2290px;
    left: 434px;
    border: 4px solid #7E8AAB;
    opacity: 0.3;
    flex-shrink: 0;
}





.sec3icofram3{
    width: 143px;
    height: 106px;
    top: 2184px;
    left: 640px;
    flex-shrink: 0;
}
.sec3icofram3:hover{
    cursor: pointer;
}
.icodiv3{
    position: absolute;
    width: 64px;
    height: 64px;
    top: 2184px;
    left: 315px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 11.545px 15.925px 11.514px 15.812px;
}
.sec3ico3{
    position: absolute;
    flex-shrink: 0;
    width: 32.26px;
    height: 40.94px;
    top: 11.55px;
    left: 13.55px;
}
.textinfoapp3{
    position: absolute;
    color: var(--text-color-primary-text-color, #050F2C);
    text-align: right;
    font-family: Peyda;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: 39px; /* 300% */
    width: max-content;
    height: 39px;
    top: 2242px;
    left: 264px;
}
.navar3{
    position: absolute;
    width: 127px;
    top: 2290px;
    left: 226px;
    border: 4px solid #7E8AAB;
    opacity: 0.3;
    flex-shrink: 0;
}

.navactive::after{
    position: absolute;
    right: -4px;
    display: table;
    content: '';
    width: 80px;
    border: 4px solid #00ADB5;
    top: -4px;
}

.sec3bg{
    position: absolute;
    width: 1557px;
    height: 609px;
    top: 2005px;
    left: -68px;
    border: 1px solid rgba(189, 197, 221, 0.16);

}
/* section 3 end */
/* section 4 start */
.loveframe{
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width:268px;
    height:82px;
    top: 2675px;
    left: 1112px;
    gap: 9px;

}
.textboxloveframe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 204px;
    height: 82px;
    gap: 7px;
}
.lovefarmehead{
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: 114px;
    height: 50px;
}
.loveframetext{
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    width: 204px;
    height: 25px;
}


.btnmore2{
    position: absolute;
    flex-shrink: 0;
    width: 168px;
    height: 60px;
    top: 2686px;
    left: 60px;
    outline: none;
    border: none;
    padding: 0;
}
.btnmorebg2{
    width: 168px;
    height: 60px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.btnmorebg2:hover{
    cursor: pointer;
    background: var(--bg-color-bg-color, #dcdce4);

}
.btnmoretextbox2{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 25px;
    top: 17.5px;
    left: 15.5px;
    gap: 8px;
}
.btnmoretext2{
    width: max-content;
    height: 25px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btnmoreico2{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}


.imagelove{
    position: absolute;
    width: 120.64px;
    height: 111.14px;
    top: 2725px;
    left: 742px;
    flex-shrink: 0;
}


.ib5{
    top: 2784px;
    left: 60px;
}
.ibi5{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh5{
    top: 336.3px;
    left: 248px;
}
.ibd5{
    top: 369.8px;
    left: 148px;
}
.ibc5{
    top: 425.85px;
    left: 97px;
}

.ib6{
    top: 2784px;
    left: 395px;
}
.ibi6{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh6{
    top: 336.3px;
    left: 248px;
}
.ibd6{
    top: 369.8px;
    left: 148px;
}
.ibc6{
    top: 425.85px;
    left: 97px;
}

.ib7{
    top: 2784px;
    left: 730px;
}
.ibi7{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh7{
    top: 336.3px;
    left: 248px;
}
.ibd7{
    top: 369.8px;
    left: 148px;
}
.ibc7{
    top: 425.85px;
    left: 97px;
}

.ib8{
    top: 2784px;
    left: 1065px;
}
.ibi8{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh8{
    top: 336.3px;
    left: 248px;
}
.ibd8{
    top: 369.8px;
    left: 148px;
}
.ibc8{
    top: 425.85px;
    left: 97px;
}
/* section 4 end */
/* section5 start */
.sec5rec{
    flex-shrink: 0;
    background: rgba(245, 248, 252, 0.10);
    overflow: hidden;
}
.sec5bg{
    position: absolute;
    width: 1563px;
    height: 703px;
    top: 3310px;
    left: 50%;
    transform: translateX(-50%);
    flex-shrink: 0;
    opacity: 0.2;   
}

.kodakframe{
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width:268px;
    height:82px;
    top: 3368px;
    left: 1065px;
    gap: 9px;

}
.textboxkodakframe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    height: 82px;
    gap: 7px;
}
.kodakfarmehead{
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: max-content;
    height: 50px;
}
.kodakframetext{
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    width: max-content;
    height: 25px;
}
.kodakframeico{
    width: 55px;
    height: 55px;
}



.ib9{
    top: 3492px;
    left: 60px;
}
.ibi9{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh9{
    top: 336.3px;
    left: 248px;
}
.ibd9{
    top: 369.8px;
    left: 148px;
}
.ibc9{
    top: 425.85px;
    left: 97px;
}

.ib10{
    top: 3492px;
    left: 395px;
}
.ibi10{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh10{
    top: 336.3px;
    left: 248px;
}
.ibd10{
    top: 369.8px;
    left: 148px;
}
.ibc10{
    top: 425.85px;
    left: 97px;
}

.ib11{
    top: 3492px;
    left: 730px;
}
.ibi11{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh11{
    top: 336.3px;
    left: 248px;
}
.ibd11{
    top: 369.8px;
    left: 148px;
}
.ibc11{
    top: 425.85px;
    left: 97px;
}

.ib12{
    top: 3492px;
    left: 1065px;
}
.ibi12{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh12{
    top: 336.3px;
    left: 248px;
}
.ibd12{
    top: 369.8px;
    left: 148px;
}
.ibc12{
    top: 425.85px;
    left: 97px;
}



.btnmore3{
    position: absolute;
    flex-shrink: 0;
    width: 168px;
    height: 60px;
    top: 3379px;
    left: 60px;
    outline: none;
    border: none;
    padding: 0;
}
.btnmorebg3{
    width: 168px;
    height: 60px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.btnmorebg3:hover{
    cursor: pointer;
    background: var(--bg-color-bg-color, #dcdce4);

}
.btnmoretextbox3{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 25px;
    top: 17.5px;
    left: 15.5px;
    gap: 8px;
}
.btnmoretext3{
    width: max-content;
    height: 25px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btnmoreico3{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}
/* section 5 end */
/* section 6 start */
.taraq{
    position: absolute;
    width: 177.52px;
    height: 184.46px;
    top: 4100.62px;
    left: 492px;
    transform: rotate(-13.891deg);
    flex-shrink: 0;
    fill: var(--1077-fe, #1077FE);
}

.tabrikframe{
    position: absolute;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    width:268px;
    height:82px;
    top: 4084px;
    left: 1085px;
    gap: 9px;

}
.textboxtabrikframe{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: max-content;
    height: 82px;
    gap: 7px;
}
.tabrikfarmehead{
    color: #000;
    text-align: right;
    font-family: Peyda;
    font-size: 36px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    width: max-content;
    height: 50px;
}
.tabrikframetext{
    color: var(--text-color-secondary-text-color-2, #7E8AAB);
    text-align: right;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px; /* 138.889% */
    width: max-content;
    height: 25px;
}
.tabrikframeico{
    width: 55px;
    height: 55px;
}



.btnmore4{
    position: absolute;
    flex-shrink: 0;
    width: 168px;
    height: 60px;
    top: 4096px;
    left: 60px;
    outline: none;
    border: none;
    padding: 0;
}
.btnmorebg4{
    width: 168px;
    height: 60px;
    background: var(--bg-color-bg-color, #F5F8FC);
}
.btnmorebg4:hover{
    cursor: pointer;
    background: var(--bg-color-bg-color, #dcdce4);

}
.btnmoretextbox4{
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 133px;
    height: 25px;
    top: 17.5px;
    left: 15.5px;
    gap: 8px;
}
.btnmoretext4{
    width: max-content;
    height: 25px;
    color: var(--text-color-secondary-text-color, #626E94);
    text-align: center;
    font-family: Peyda;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.btnmoreico4{
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
}

.ib13{
    top: 4196px;
    left: 60px;
}
.ibi13{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh13{
    top: 336.3px;
    left: 248px;
}
.ibd13{
    top: 369.8px;
    left: 148px;
}
.ibc13{
    top: 425.85px;
    left: 97px;
}

.ib14{
    top: 4196px;
    left: 395px;
}
.ibi14{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh14{
    top: 336.3px;
    left: 248px;
}
.ibd14{
    top: 369.8px;
    left: 148px;
}
.ibc14{
    top: 425.85px;
    left: 97px;
}

.ib15{
    top: 4196px;
    left: 730px;
}
.ibi15{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh15{
    top: 336.3px;
    left: 248px;
}
.ibd15{
    top: 369.8px;
    left: 148px;
}
.ibc15{
    top: 425.85px;
    left: 97px;
}

.ib16{
    top: 4196px;
    left: 1065px;
}
.ibi16{
    background: url('../image/imageboximage.png'), lightgray 50% / cover no-repeat;
}
.ibh16{
    top: 336.3px;
    left: 248px;
}
.ibd16{
    top: 369.8px;
    left: 148px;
}
.ibc16{
    top: 425.85px;
    left: 97px;
}

.neshan{
    position: absolute;
    width: 98px;
    height: 139px;
    top: 4694px;
    left: -4vw;
    flex-shrink: 0;
}
/* section 6 end */